body {
    font-family: Arial, Helvetica, sans-serif;
  }
  .head {
    font-size: 14px;
    height: 50px;
    width: 70%;
    line-height: 19.6px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
  }
  .head{
      
white-space:normal;
overflow:hidden;
text-overflow:inherit;

  }
  hr {
    margin-top: 40px;
  }
  #top {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1px;
    margin-top: 50px;
  }
  #top select {
    height: 35px;
    width: 180px;
    margin-right: 30px;
  }
  /* #top div{
     height: 35px;
     width: 180px;
     margin-right: 30px;
  } */
  .search input[type="text"] {
    float: right;
    padding: 6px;
    border: 1 px solid black;
    width: 180px;
    margin-right: 50px;
    margin-left: 40px;
    font-size: 17px;
  }
  #container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  /* div{
      height: 100px;
  } */
  #bord {
    height: 60px;
    width: auto;
    border: 1px solid red;
  }
  .btn {
    border: 0px;
    background-color: #333333;
    text-align: center;
    padding: 5px 105px;
    color: white;
    font-size: 130%;
    height: 42px;
  }
  .btn:hover {
    border: 0px;
    background-color: #28bdb7;
  }
  /* #img:hover{
      
  } */
  h4 {
    font-size: 14px;
    line-height: 19.6px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-decoration: none solid;
  }