.c1{
   text-align: center;
}

#container{
    display: grid;
    grid-template-columns: repeat(26,1fr);
    grid-template-rows:auto;
    grid-gap:6px;
    align-items: center;
    margin-left:140px;
    width:70%;
    height:70px;
}

#container>div{
    height:30px;
    width:55px;
    border:1px solid black ;
    text-align: center;
    padding-top: 14px;
}
#container :hover{
    background-color: rgb(26, 24, 24);
    color: aliceblue;
    height:30px;
    width:55px;
}
.c2{
    font-size: 50px;
    margin-left: 70px;
}
.c2,p{
    display: inline-block;
}
p{
    padding-left: 15px;
}
.last{
    padding-left: 380px;
}
.container2{
    height:250px;
    width:97%;
    padding-top: 30px;
    font-size: 18px;
    border:0.1px solid ;
    border-left:none;
    border-right: none;
    border-bottom: none;
    display: flex;
    justify-content:left;
}

span{
    display: block;
    padding-top: 10px;
}
a{
    text-decoration: none;
    color: black;
}
.box0{
    padding-left: 80px;
}
.box1{
    padding-right: 170px;
    padding-left: 40px;
}
.box2{
    padding-right: 320px;
    padding-left: 40px;
}
.new2{
    height:420px;
}
.new{
    height:150px;
}


